
.Toolbar {
  width: 100%;

  background-color: aqua;

  display: flex;
}
.Toolbar ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.Toolbar ul li {
  padding: 0 10px;
}
.Toolbar .toggle {
  display: none;
  width: 20px;
  height: 20px;
  text-align: center;
  margin: 5px;
}

@media (max-width: 300px) {
  .Toolbar .toggle {
    display: block;
  }
  .Toolbar ul {
    display: none;
  }
}